<div class="row">
  <h1>Cornucopia App</h1>
</div>
<br>
<div class="jumbotron">
  <h1>Hello, World!</h1>
  <p>And welcome to Cornucopia.
  
    We are here to help you with your diet needs as soon as you Log In!
  </p>
  <p style="text-align: center;">
  <p><a class="btn btn-success btn-lg" href="/login" role="button">Log In</a></p>

  <p><a class="btn btn-danger btn-lg" href="/signup" role="button">Create Profile</a></p>
</div>

<div class="row">
</div>