-
<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <div class="header-caption">
        <span class="caption-subtitle">Food 'R' Us</span>
        <h2 class="caption-title">Welcome to the Cornucopia Web app!</h2>
        <p>This is a web app to help you eat better and cut down on food waste. Which means that you can also expect to save some money. But not only that you will be able to save money and get more from less.
        <br>
        <p>We have been waiting to roll out this special NEW web app for our customers. We hope you enjoy and that you send us your feedback through one of our social media outlets.</p>
        <div class="header-action-button">
        </div><!-- header-action-button -->
      </div><!-- .header-caption -->
    </div><!-- .col-sm-5 -->
  </div><!-- .row -->
</div><!-- .container -->


<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <div class="header-caption">
        <span class="caption-subtitle">Recipe Search</span>
        <h2 class="caption-title">Find and Save </h2>
        <p>Find the recipe that you want to make NOW and save the ones that you want for later. </p>
        <br>
        <p>We have been waiting to roll out this special NEW web app for our customers. We hope you enjoy and that you send us your feedback through one of our social media outlets.</p>

        <p>Whether you're a vegetarian . . .</p>
        <img src="/img/crop_upscale.jpg">
        <p></p>
        <p> . . . or perhaps a MEAT-aterian </p>
        <img src="/img/butcher_shop.jpg">
        <div class="header-action-button">

        </div><!-- header-action-button -->
      </div><!-- .header-caption -->
    </div><!-- .col-sm-5 -->
  </div><!-- .row -->
</div><!-- .container -->
