<h1>Menu App</h1>

<h2>Entree 1</h2>

<h2>Entree 2</h2>

<h2>Entree 3</h2>

<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <div class="header-caption">
        <span class="caption-subtitle">About Us</span>
        <h2 class="caption-title">Welcome to the Menu of Cornucopia!</h2>
        <p>This is a web app to help you eat better and cut down on food waste. Which means that you can also expect to save some money. But not only that you will be able to save money and get more from less.</p>
        <br>
        
        <p>We have been waiting to roll out this special NEW app for all of the world to enjoy. </p>

        <p>But you must enter your account first. </p>
        <div class="header-action-button">
          <a class="btn btn-warning btn-md" href="#">Create an account</a>
          <a class="btn btn-default btn-bordered  btn-md" href="#">Log In</a>
        </div><!-- header-action-button -->
      </div><!-- .header-caption -->
    </div><!-- .col-sm-5 -->
  </div><!-- .row -->
</div><!-- .container -->
