// body {
//    margin: 20px auto;
//   width: 90%;
// }


// $primary-color: orange;

// h1{ 
//   background-color: $primary-color;
// }

// h2{
//   color: $primary-color;
// }

//   h2 a:hover{
//     color: $primary-color;
//   }

//   h2 span {
//     background-color: #000;
// }

// .red_price{
//   color: red
// }

h1 img {
  width: 100px;
  height: 100px;
}

body {
    background-color: grey;
}

img.index-images{
  border-radius: 25px;
  background: #f0ad4e;
  padding: 20px; 
  width: 600px;
  height: 350px;    
}
p.welcome{
  border-radius: 25px;
  background: #f0ad4e;
  padding: 20px; 
  width: 600px;
  height: 350px;    
}

h2.index-h2 {
    border: 1px solid black;
    background-color: #f0ad4e;
    padding: 10px;
    margin: 0 70px 0 0;
    text-align: center;
}

.ingredients {
  width: 80%;
  margin: 0 auto;
}